/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: #d5dae5;
$headings-color: #16ffff;
$navbar-bg: #46c6c6;
$navbar-hl: #fff;

// Code blocks
$code-block-bg-alpha: -.8;
$code-block-border-left: true;
$code-block-border-left: #16c6c6;
$code-block-bg: true;
$code-block-bg: #404040;
$dropdown-bg: #d4d4d4;
$dropdown-link-color: #a9a9a9;
